<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.enginecloud.dao.mapper.LeadsMapper">
<!--    <resultMap id="resultMap" type="com.enginecloud.dao.dataobject.LeadsDO">-->
<!--        <result column="id" property="id" jdbcType="BIGINT" javaType="Long"/>-->
<!--        <result column="create_Date" property="createDate" jdbcType="DATE" javaType="java.util.Date"/>-->
<!--        <result column="update_Date" property="updateDate" jdbcType="DATE" javaType="java.util.Date"/>-->
<!--        <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" javaType="String"/>-->
<!--        <result column="email" property="email" jdbcType="VARCHAR" javaType="String"/>-->
<!--        <result column="description" property="description" jdbcType="VARCHAR" javaType="String"/>-->
<!--        <result column="version" property="version" jdbcType="int" javaType="Integer"/>-->
<!--        <result column="extend_info" property="extendInfo" jdbcType="VARCHAR" javaType="String"/>-->
<!--        <result column="is_delete" property="isDelete" jdbcType="TINYINT" javaType="Integer"/>-->
<!--    </resultMap>-->


    <sql id="column">
        `id`, `name`, `create_Date`, `update_Date`, `phone_number`, `email`, `description`,`version`,
        `extend_info`, `is_delete`
    </sql>

    <insert id="insert" parameterType="com.enginecloud.dao.dataobject.LeadsDO">
        insert into leads
        (<include refid="column"/> )
        value (#{id}, #{name}, #{createDate}, #{updateDate}, #{phoneNumber}, #{email}, #{description}, #{version}, #{extendInfo}, #{isDelete});
        <selectKey keyProperty="id" keyColumn="id" order="AFTER" resultType="Long">
            select last_insert_id()
        </selectKey>
    </insert>

    <select id="queryByPhoneNumber" parameterType="String" resultType="com.enginecloud.dao.dataobject.LeadsDO">
        select
        <include refid="column"/>
        from leads
        where phone_number = #{phoneNumber}
    </select>

    <update id="update" parameterType="com.enginecloud.dao.dataobject.LeadsDO" >
        update leads
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            update_Date = now(),
            version = version + 1
        </set>
        where phone_number = #{phoneNumber} and version = #{version}
    </update>

<!--    <update id="markDelete" parameterType="com.locationNote.note.persistence.dataobject.LocationNoteDO">-->
<!--        update note set deleted = #{deleted}, modified_time = now() where id = #{id}-->
<!--    </update>-->

    <select id="count" parameterType="com.enginecloud.dao.dataobject.PageQueryDO" resultType="Integer">
        select count(1) from leads
        <where>
            <if test="startDate != null">
                create_date > #{startDate}
            </if>
        </where>
    </select>

    <select id="queryList" parameterType="com.enginecloud.dao.dataobject.PageQueryDO" resultType="com.enginecloud.dao.dataobject.LeadsDO">
        select
        <include refid="column"/>
        from leads
        <where>
            <if test="startDate != null">
                create_date > #{startDate}
            </if>
        </where>
        limit #{pageStart}, #{pageSize}
    </select>
</mapper>